*{
    margin: 0;
    padding: 0;
    
    
}

#message-box{
    width: 450px;
    height: 200px;
    margin: auto;
    overflow-y: auto;
    border: 1px solid red;
    padding: 15px;
}
#message-box p{
    background-color: bisque;

}
#message_input{
   
    text-align: center;
}

