*{
    margin: 0;
    padding: 0;
    
    
}
#container{
    text-align: center;
    color: white;
    height: 100vh;
    background-image: url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#user{
    height: 75px;
}
#user-name{
    height: 25px;
    border: 1px solid black;
    border-radius: 9px;
    text-decoration: none;
    text-align: center;
    
}

#user-button{
    border: 1px solid black;
    width: 75px;
    height: 20px;
    align-items: center;
    border-radius: 9px;
    
}

#message-box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 430px;
    margin: auto;
    margin-top: 100px;
    overflow-y: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
    border-radius: 9px;
    background-color: #354E56;
    gap: 8px;
    align-items: center;
}
#message-box p{
   
    background-color: #5f5f5f; 
    width: 200px;
    height: 30px;
    border-radius: 9px;
}

#message-input{
    position: absolute;
    left: 685px;
    top: 600px;
    gap: 10%;
}

#message{
    height: 25px;
    border: 1px solid black;
    border-radius: 9px;
    text-decoration: none;
    text-align: center;
}

#message-button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
}